<span id="message" style="margin: 5px;"></span>
<form>
    <table cellpadding="5">
        <tr><td>Type:</td><td><select name="new_type" id="new_type" style="width: 210px; border-radius: 3px; height:20px;">
                                            <option data-flag="1">Sales Clerk</option>
                                            <option data-flag="2">Employee</option>
                                </select></td></tr>
        <tr><td>User ID:</td><td><input type="text" id="new_userid" name="new_userid" autofocus="autofocus"/></td></tr>
        <tr><td>Password:</td><td><input type="password" id="new_passwd" name="new_passwd"/></td></tr>
    </table>
    <button type="submit" id="bnew" class="button">Create</button>
</form>